services:
  server:
    build:
      context: .
      dockerfile: apps/server/Dockerfile
    ports:
      - "3000:3000"
  db:
    env_file:
      - .env
    image: postgres
    environment:
      - PGUSER=${POSTGRES_USER}
      - PGPASSWORD=${POSTGRES_PASSWORD}
      - PGDATABASE=${POSTGRES_DB}
    volumes:
      - db:/data/postgres
    ports:
      - "${POSTGRES_PORT}:5432"
    restart: unless-stopped
volumes:
  db:
